[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
git-pylint-commit-hook = "*"
jupyter = "*"
pylint-django = "*"
django-extensions = "*"

[packages]
django = "*"
django-cors-headers = "*"
django-ratelimit = "*"

[requires]
python_version = "3.6"
